body {
    background-color: #f4eadb;
    margin: 0;
    font-family: Arial;
    color: #222;
}

fk {
    font-weight: bold;
}

header {
    background-color: #f4e9cd;
    color: white;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav a {
    color: #222;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    padding: 50px 20px;
    text-align: center;
}

